.footer{
    width: 90%; 
    max-width: 1000px;
    margin:0 auto; /*footer 영역이 자동으로 브라우저 가운데 잡히도록 해줌 */
    margin-top: 90px;
    margin-bottom: 30px;
    display: flex; /*메뉴와 copyright 부분을 배치하기 위해 정의*/
    align-items: center;
    justify-content: space-between; /*메뉴와 copyright 부분을 배치하기 위해 정의*/
    flex-wrap: wrap; /*아이폰 사이즈 지원시, 가로 일렬로 고정배치된 것으로 해제하기 위해 추가*/
    text-transform: uppercase; /*소문자로 작성된 텍스트를 대문자로 변경*/
    font-size: 12px;
    font-weight: 700; /*구글 폰트 가져온 것 중 하나로 뚱뚱한 정도*/
}

.footer__list{
    display: flex; /*가로 일렬 배치를 위해 정의*/
    flex-wrap: wrap; /*아이폰 사이즈 지원시, 가로 일렬로 고정배치된 것으로 해제하기 위해 추가*/
}

.footer__list-item{
    margin-right:15px; /*각각의 간격을 조정하기 위해 정의*/
}

.footer__link{
    color:#003569;
}

.footer__copyright{
    color:#999;
}