body{
    background-color: #FAFAFA;
    font-size: 14px;
    padding-top: calc(80px + 60px);
    font-family: 'Open Sans', sans-serif; /*style.css에서 import한 폰트로 정의해 줌*/
}

a{
    text-decoration: none;  /*모든 링크의 밑줄,색상변경 표기를 빼도록 함*/
}


input:focus{
    outline: none; /*마우스 포커스 가면 파란색으로 테두리 표기되는 것 해지를 위해 공통 추가*/
}


.u-fat-text{
    font-weight: 600;
}