.navigation{
    background-color: white;
    height: 80px;
    position: fixed;
    width: 100%;
    top:0;
    border-bottom:1px solid rgba(0,0,0,.0975);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0px 50px;
    box-sizing: border-box;
}

.navigation__search-container{
    position: relative;  /*검색 아이콘이 해당 class 영역 안에서 위치할 수 있게 해 줌*/
}

.navigation__search-container input{
    background-color: #FAFAFA;
    padding:3px 20px;
    padding-left: 25px;
    height: 30px;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,.0975);
    border-radius: 3px;
    font-size: 14px;
}

.navigation__search-container i{
    position: absolute;
    top:10px;
    left:10px;
    font-size: 11px;
    color:rgba(0,0,0,0.5);
}

.navigation__search-container input:focus{
    outline: none; /*마우스 오버시 테두리 파란색으로 바뀌는 표기 되지 않도록 처리*/
    color: red;
}

.navigation__search-container input::placeholder{
    text-align: center;
}


.navigation__link{
    margin-left: 30px; /*각 아이콘이 동일한 class명으로 왼쪽으로 30px을 밀어줘서 간격을 조정*/
    color:rgba(0,0,0,.5);
    text-decoration: none;
    font-size:22px;
}


/* navigation의 사이즈와 BG를 잡고 고정시키는 작업을 먼저 함.
왼쪽 로고의 위치를 잡고
오른쪽 아이콘의 위치와 사이즈를 잡고, 간격을 조정
검색창의 텍스트 위치와 사이즈를 잡고, 검색 아이콘의 위치를 조정 */